html, body {
  margin: 0;
}

.App {
  height: 100vh;
  font-family: Arial;
  font-size: 12px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Point-dark {
  background-color: black;
  color: black;
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.8;
}

.Point-light {
  background-color: lightgrey;
  color: gray;
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.8;
}


